:root {
  --primary: #007bff;
  --background: #f0f2f5;
  --card-bg: #ffffff;
  --text: #333;
}

/* Login isolado */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden; /* evita rolagem no login */
  
  background-image: url("./img/hotel-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Garante que só o login não role */
body.login-active {
  overflow: hidden;
}



.login-card {
  background: var(--card-bg);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 380px;
  max-width: 90%;
  text-align: center;
}

.login-header h2 {
  margin-bottom: 0.5rem;
  color: var(--primary);
  text-transform: uppercase;
}

.login-header p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.login-form label {
  font-weight: 600;
  color: var(--text);
}

.login-form input {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: var(--primary);
}

.login-form button {
  background: var(--primary);
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #0056b3;
}

.login-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.login-footer span {
  color: var(--primary);
  cursor: pointer;
  font-weight: 600;
}

.login-footer span:hover {
  text-decoration: underline;
}
